<!DOCTYPE html>
<!--
        This HTML page is for completing a dog registration

                                                                    -->
<html>
	<head>
        <!-- link to our css file-->
        <link rel="stylesheet" type="text/css" href="stylesheets/styles.css">
        <!-- link to a special font file provided by google -->
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Merienda+One">
        <!-- link to our favicon image -->
        <link rel="shortcut icon" type="image/png" href="/stylesheets/images/favicon.png">
        <!-- page name - showing it on tab browser -->
        <title> Dog Register </title>
    </head>
	<body class="wallpaper">
		<h1 class="register_text"> Dog Registration Completed Successfully </h1> <!-- setting the class for the title -->
		<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
		<table class="owner_table">
			<tr>
				<td>
					<form action="/dog_register">
						<input type="submit" value="Register Another Dog" class="submit_button">
					</form>
				</td>
				<td></td>
				<td>
					<form action="/walk_register">
						<input type="submit" value="Set a Walk" class="submit_button">
					</form>
				</td>
				<td></td>
				<td>
					<form action="/">
						<input type="submit" value="Back to Home Page" class="submit_button">
					</form>
				</td>
			</tr>
		</table>
	</body>
</html>
