<!DOCTYPE html>
<!--
        This HTML page shows the logout page

                                                                    -->
<html>
	<head>
        <!-- link to our css file-->
        <link rel="stylesheet" type="text/css" href="stylesheets/styles.css">
        <!-- link to a special font file provided by google -->
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Merienda+One">
        <!-- link to our favicon image -->
        <link rel="shortcut icon" type="image/png" href="/stylesheets/images/favicon.png">
        <!-- page name - showing it on tab browser -->
        <title> Logout </title>
		<meta http-equiv="Refresh" content="3; url=/" />
	</head>
	<body class="wallpaper">
	<div>
		<img class="logo" src="/stylesheets/images/logo.png" alt="DoggyWalker Logo">
		<p class="logout_text">You Are Logged Out<br/><br/> Redirecting to Home Page </p>
	</div>
	</body>
</html>

