<!DOCTYPE html>
<!--
        This HTML page for users who are not walkers

                                                                    -->
<html>
	<head>
        <!-- link to our css file-->
        <link rel="stylesheet" type="text/css" href="stylesheets/styles.css">
        <!-- link to a special font file provided by google -->
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Merienda+One">
        <!-- link to our favicon image -->
        <link rel="shortcut icon" type="image/png" href="/stylesheets/images/favicon.png">
        <!-- page name - showing it on tab browser -->
        <title> DoggyWalker </title>
    </head>
	<body class="wallpaper"> <!-- setting the class for the wallpaper image -->
    <div>
		<img class="logo" src="/stylesheets/images/logo.png" alt="DoggyWalker Logo">
        <h1 class="logout_text"> Hello! </h1>
        <br/>
        <table class="finish_table">
			<tr>
				<td colspan="2" class="p_text text_center"> You are not registered as a dog walker</td>
                <td></td>
				<td>
					<form action="/">
						<input type="submit" value="Back to Home Page" class="submit_button">
					</form>
				</td>
            </tr>
        </table>
	</div>
    </body>
</html>


