<!DOCTYPE html>
<!--
        This HTML page shows the page for a walker register

                                                                    -->
<html>
	<head>
        <!-- link to our css file-->
        <link rel="stylesheet" type="text/css" href="stylesheets/styles.css">
        <!-- link to a special font file provided by google -->
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Merienda+One">
        <!-- link to our favicon image -->
        <link rel="shortcut icon" type="image/png" href="/stylesheets/images/favicon.png">
        <!-- page name - showing it on tab browser -->
        <title> Walker Register </title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    </head>
	<body class="wallpaper"> <!-- setting the class for the wallpaper image -->
		<h1 class="register_text"> Account Registration </h1> <!-- setting the class for the title -->
        <br/><br/><br/><br/><br/><br/><br/><br/><br/>
		<form action="/days_input" method="post"> <!-- creating the registration form -->
            <table class="walker_table">
                <tr>
                    <td class="p_text"> Personal Details </td>
                    <td class="p_text"> All Fields Are Required </td>
                </tr>
                <tr>
                    <td>
                        <br/>
                    </td>
                </tr>
                <tr>
                    <td class="p_text"> Email </td>
                    <td>
						<input type="email" name="email" value= {{user_email}} disabled>
					</td>
                </tr>
                <tr>
                    <td class="p_text"> Name </td>
                    <td>
						<input type="text" name="name" required>
					</td>
                </tr>
                <tr>
                    <td class="p_text"> Phone Number </td>
                    <td>
                        <input type="tel" name="phone" pattern="[0-9]{3}[0-9]{7}" placeholder="10-digit number"
                               required maxlength="10">
					</td>
                </tr>
                <tr>
                    <td class="p_text"> Preferred Breeds </td>
                    <td>
                        <span id="sectionForm1">
                      <input id="checkbox1" type="checkbox" name= "labrador" value="Labrador" >
                                                                            <label for="checkbox1">Labrador</label>
                      <input id="checkbox2" type="checkbox" name= "bulldog" value= "Bulldog" >
                                                                            <label for="checkbox2">Bulldog</label>
                      <input id="checkbox3" type="checkbox" name= "pincer" value= "Pincer" >
                                                                            <label for="checkbox3">Pincer</label>
                      <input id="checkbox4" type="checkbox" name= "corgi" value= "Corgi" >
                                                                            <label for="checkbox4">Corgi</label>
                      <input id="checkbox5" type="checkbox" name= "pug" value= "Pug" >
                                                                            <label for="checkbox5">Pug</label>
                      <input id="checkbox6" type="checkbox" name= "pomeranian" value= "Pomeranian" >
                                                                            <label for="checkbox6">Pomeranian</label>
                      <input id="checkbox7" type="checkbox" name= "pekingese" value= "Pekingese" >
                                                                            <label for="checkbox7">Pekingese</label>
                        </span>
                    </td>

                </tr>
                 <tr>
                    <td class="p_text"> City </td>
                    <td>
						<input list="cities" name="city" required>
                        <datalist id="cities">
                            <option value="Beer Sheva">
                            <option value="Eilat">
                            <option value="Haifa">
                            <option value="Herzliya">
                            <option value="Jerusalem">
                            <option value="Kfar Saba">
                            <option value="Nahariya">
                            <option value="Netanya">
                            <option value="Raanana">
                            <option value="Ramat Hasharon">
                            <option value="Tel-Aviv">
                        </datalist>
					</td>
                </tr>
                <tr>
                    <td class="p_text"> Working Days </td>
                    <td>
                        <span id="sectionForm2">
                      <input id="checkbox8" type="checkbox" name= "day1" value="Sunday">
                                                                        <label for="checkbox8">Sunday</label>
                      <input id="checkbox9" type="checkbox" name= "day2" value="Monday">
                                                                        <label for="checkbox9">Monday</label>
                      <input id="checkbox10" type="checkbox" name= "day3" value="Tuesday">
                                                                        <label for="checkbox10">Tuesday</label>
                      <input id="checkbox11" type="checkbox" name= "day4" value="Wednesday">
                                                                        <label for="checkbox11">Wednesday</label>
                      <input id="checkbox12" type="checkbox" name= "day5" value="Thursday">
                                                                        <label for="checkbox12">Thursday</label>
                      <input id="checkbox13" type="checkbox" name= "day6" value="Friday">
                                                                        <label for="checkbox13">Friday</label>
                      <input id="checkbox14" type="checkbox" name= "day7" value="Saturday">
                                                                        <label for="checkbox14">Saturday</label>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <br/><br/><br/>
                    </td>
                </tr>
                <tr>
                    <td>
						<input type="submit" value="Continue" class="submit_button">
					</td>
                </tr>
            </table>
        </form>
    <script>
        (function() {
            const form = document.querySelector('#sectionForm1');
            const checkboxes = form.querySelectorAll('input[type=checkbox]');
            const checkboxLength = checkboxes.length;
            const firstCheckbox = checkboxLength > 0 ? checkboxes[0] : null;

            function init() {
                if (firstCheckbox) {
                    for (let i = 0; i < checkboxLength; i++) {
                        checkboxes[i].addEventListener('change', checkValidity);
                    }

                    checkValidity();
                }
            }

            function isChecked() {
                for (let i = 0; i < checkboxLength; i++) {
                    if (checkboxes[i].checked) return true;
                }

                return false;
            }

            function checkValidity() {
                const errorMessage = !isChecked() ? 'At least one checkbox must be selected' : '';
                firstCheckbox.setCustomValidity(errorMessage);
            }

            init();
        })();
    </script>
    <script>
        (function() {
            const form = document.querySelector('#sectionForm2');
            const checkboxes = form.querySelectorAll('input[type=checkbox]');
            const checkboxLength = checkboxes.length;
            const firstCheckbox = checkboxLength > 0 ? checkboxes[0] : null;

            function init() {
                if (firstCheckbox) {
                    for (let i = 0; i < checkboxLength; i++) {
                        checkboxes[i].addEventListener('change', checkValidity);
                    }

                    checkValidity();
                }
            }

            function isChecked() {
                for (let i = 0; i < checkboxLength; i++) {
                    if (checkboxes[i].checked) return true;
                }

                return false;
            }

            function checkValidity() {
                const errorMessage = !isChecked() ? 'At least one checkbox must be selected' : '';
                firstCheckbox.setCustomValidity(errorMessage);
            }

            init();
        })();
    </script>
	</body>
</html>

