<!DOCTYPE html>
<!--
        This HTML page shows the page for a walk register

                                                                    -->
<html>
	<head>
        <!-- link to our css file-->
        <link rel="stylesheet" type="text/css" href="stylesheets/styles.css">
        <!-- link to a special font file provided by google -->
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Merienda+One">
        <!-- link to our favicon image -->
        <link rel="shortcut icon" type="image/png" href="/stylesheets/images/favicon.png">
        <!-- page name - showing it on tab browser -->
        <title> Walk Register </title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    </head>
	<body class="wallpaper">
        <h1 class="register_text"> Walk Details </h1> <!-- setting the class for the title -->
        <br/><br/><br/><br/><br/><br/><br/><br/><br/>
		<form id="sectionForm" action="/walk_choose" method="post"> <!-- creating the registration form -->
            <table class="walker_table">
                <tr>
                    <td></td>
                    <td class="p_text"> All Fields Are Required </td>
                </tr>
                <tr>
                    <td>
                        <br/>
                    </td>
                </tr>
                <tr>
                    <td class="p_text"> Start Date </td>
                    <td>
						<input type="date" name="start_date" required>
					</td>
                </tr>
                <tr>
                    <td class="p_text"> End Date </td>
                    <td>
						 <input type="date" name="end_date" required>
					</td>
                </tr>
                <tr>
                    <td class="p_text"> Required Days </td>
                    <td>
                        <input id="checkbox1" type="checkbox" name= "day1" value="Sunday">
                                                                            <label for="checkbox1">Sunday</label>
                        <input id="checkbox2" type="checkbox" name= "day2" value="Monday">
                                                                            <label for="checkbox2">Monday</label>
                        <input id="checkbox3" type="checkbox" name= "day3" value="Tuesday">
                                                                            <label for="checkbox3">Tuesday</label>
                        <input id="checkbox4" type="checkbox" name= "day4" value="Wednesday">
                                                                            <label for="checkbox4">Wednesday</label>
                        <input id="checkbox5" type="checkbox" name= "day5" value="Thursday">
                                                                            <label for="checkbox5">Thursday</label>
                        <input id="checkbox6" type="checkbox" name= "day6" value="Friday">
                                                                            <label for="checkbox6">Friday</label>
                        <input id="checkbox7" type="checkbox" name= "day7" value="Saturday">
                                                                            <label for="checkbox7">Saturday</label>
                    </td>
                </tr>
                <tr>
                    <td class="p_text"> Choose Your Specific Dog </td>
                    <td>
						<input list="owners_dogs" name="owners_dogs" required>
                        <datalist id="owners_dogs">
                            {%for dog in dogs_tuples%}
                                <option value="{{dog[0]}}-{{dog[1]}}">
                            {%endfor%}
                        </datalist>
                    </td>
                </tr>
                <tr>
                    <td>
                        <br/><br/><br/>
                    </td>
                </tr>
                <tr>
                    <td>
						<input type="submit" value="Continue" class="submit_button">
					</td>
                </tr>
            </table>
        </form>
    <script>
        (function() {
            const form = document.querySelector('#sectionForm');
            const checkboxes = form.querySelectorAll('input[type=checkbox]');
            const checkboxLength = checkboxes.length;
            const firstCheckbox = checkboxLength > 0 ? checkboxes[0] : null;

            function init() {
                if (firstCheckbox) {
                    for (let i = 0; i < checkboxLength; i++) {
                        checkboxes[i].addEventListener('change', checkValidity);
                    }

                    checkValidity();
                }
            }

            function isChecked() {
                for (let i = 0; i < checkboxLength; i++) {
                    if (checkboxes[i].checked) return true;
                }

                return false;
            }

            function checkValidity() {
                const errorMessage = !isChecked() ? 'At least one checkbox must be selected' : '';
                firstCheckbox.setCustomValidity(errorMessage);
            }

            init();
        })();
    </script>
	</body>
</html>

