<!DOCTYPE html>
<!--
        This HTML page shows the total sum for the owner

                                                                    -->
<html>
	<head>
        <!-- link to our css file-->
        <link rel="stylesheet" type="text/css" href="stylesheets/styles.css">
        <!-- link to a special font file provided by google -->
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Merienda+One">
        <!-- link to our favicon image -->
        <link rel="shortcut icon" type="image/png" href="/stylesheets/images/favicon.png">
        <!-- page name - showing it on tab browser -->
        <title> Walk Summary </title>
    </head>
	<body class="wallpaper"> <!-- setting the class for the wallpaper image -->
    <div>
		<img class="logo" src="/stylesheets/images/logo.png" alt="DoggyWalker Logo">
        <h1 class="logout_text"> Done! </h1>
        <table class="finish_table">
			<tr>
				<td colspan="3" class="p_text text_center">
					The Chosen Walk Booked Successfully!
				</td>
			</tr>
			<tr>
				<td colspan="3" class="p_text text_center">
					Your Total Sum is: {{Total}}
				</td>
			</tr>
			<tr><td><br/></td></tr>
			<tr>
				<td>
					<form action="/walk_register">
						<input type="submit" value="Book Another Walk" class="submit_button">
					</form>
				</td>
				<td>
					<form action="/dog_register">
						<input type="submit" value="Add a Dog" class="submit_button">
					</form>
				</td>
				<td>
					<form action="/">
						<input type="submit" value="Home Page" class="submit_button">
					</form>
				</td>
            </tr>
        </table>
	</div>
    </body>
</html>


